---

---

<section class="w-100 px-40 py-16">
  <p class="text-lg">
    Soy productor y postproductor audiovisual egresado del Instituto
    Sudamericano para la Enseñanza de la Comunicación (ISEC) y técnica en
    producción y dirección de radio y televisión. Mi objetivo es poder aporta
    todos mis conocimientos, habilidades y experiencias mientras continuo con mi
    crecimiento.
  </p>
</section>
